ch3-exercises-PA20.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [ ]:
# [Q1] Code  
a = "Life is too short, you need python"  
if "wife" in a: print("wife")        #a에 wife 가 포함되면 wife를 출력 (틀렸음)
elif "python" in a and "you" not in a: print("python")  # a 에 python이 포함되어있고  you 가 포함되지않으면 python을 출력하라 (틀렸음)
elif "shirt" not in a: print("shirt")  # shirt 가 a 에 포함되어있지 않을때 shirt를 출력하여라 (맞음 shirt를 출력함)
elif "need" in a: print("need")  # a에 need가 포함된다면 need를 출력하여라 ( 틀렸음)
else: print("none") # 모든게 해당사항에 없을떄는 none을 출력하여라
## True 인 shirt만 출력이 된다

shirt

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [ ]:
x=0
y=0
while x <1000: # x 의 값은 1000보다 작다
    x = x+1  # a값에 1씩 더함
    if x % 3 == 0: 
      y=y+x 
    if x==1000:
      print("3의 배수의 합= ",y)

3의 배수의 합=  166833

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [ ]:
# [Q3] Code
st = 0
while st < 5:
  st = st +1
  print ("*"* st)

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [ ]:
# [Q4] Code
for x in range(1,101):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [13]:
# [Q5] Code
total = 0
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
for i in A[0:]:
    total += int(i)
print("{}A학급의 성적: {}".format(A[:], total / 10))

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]A학급의 성적: 79.0

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [18]:
# [Q6] Code
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [num*2 for num in numbers if num % 2 ==1] #나머지가 1인것에 2를 곱하여라
result

[2, 6, 10, 14, 18]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [30]:
# [Q7] Code-1
sub = 0
scores = [91, 67, 88, 75]
for i in scores[0:]:
    sub += int(i)
print("{}4개의 평균성적: {}".format(scores[0:], sub / 4))

[91, 67, 88, 75]4개의 평균성적: 80.25

In [35]:
# [Q7] Code-2
nums = [91, 67, 88, 75]
print("평균값은")
print( sum(nums)/len(nums) )

평균값은
80.25

In [33]:
# [Q7] Code-3
def average(list):
    num = 0
    for i in range (len(list)):
        num = num + list[i]
    return (num)/len(list)
 


list = [91, 67, 88, 75] 
print("평균값 : {}".format(average(list)));

평균값 : 80.25

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. **github repo의 ch3 폴더에 연습문제 풀이 결과 노트를 올리시오.**
        - **제출노트: ch3-exercises-id.ipynb**