# ch2_02_string.py

## 문자열:

In [2]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [4]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

## 문자열: \ 이용

In [9]:
food = 'Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [10]:
say = "\"Python is very easy.\" he says."
say

'"Python is very easy." he says.'

# 이스케이프 코드

## 문자열: 이스케이프 코드 이용

In [11]:
multiline = "Life is too short\nYou need python"
multiline

'Life is too short\nYou need python'

# 여러줄 문자열 처리

## multiline

In [13]:
multiline = '''
... Life is too short
... You need python
... '''
multiline

'\nLife is too short\nYou need python\n'

In [14]:
print(multiline)

Life is too short
You need python

## 문자열 연산: 더하기

In [15]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

## 문자열 연산: 곱하기

In [16]:
a = "python"
a * 2

'pythonpython'

# multistring.py

In [17]:
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)

==================================================
I am now coding Python!
==================================================

# 내장함수: len()

In [23]:
a = "Life is too short"
len(a)

17

# 문자열 인덱싱과 슬라이싱

In [24]:
a = "Life is too short, You need Python"
a[3]

'e'

In [25]:
a[15]

'r'

# "파이썬은 0부터 숫자를 센다."

## 문자열: 인덱싱 활용

In [26]:
a = "Life is too short, You need Python"
a[0]

'L'

In [27]:
a[12]

's'

In [28]:
a[-1]

'n'

# a[-0]

In [29]:
a[-2]

'o'

In [30]:
a[-5]

'y'

In [32]:
a[-12]

' '

## 문자열: 슬라이싱이란?

In [35]:
a = "Life is too short, You need Python"

# Life 를 뽑아낼려면 어떻게?

In [37]:
a[0:4]

'Life'

# 문자열 더하기 연산

In [38]:
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

# slicing (슬라이싱)

In [39]:
a[0:4]  # 0 <= index < 4

'Life'

In [40]:
a[0:5]

'Life '

In [41]:
a[5:7]

'is'

In [42]:
a[12:17]

'short'

# : 의 사용

In [44]:
a[:4]

'Life'

In [45]:
a[19:]

'You need Python'

In [46]:
a[:17]

'Life is too short'

In [47]:
a[:]

'Life is too short, You need Python'

# a[19:-7] ?

In [48]:
a[19:-7]

'You need'

## 문자열: 슬라이싱 응용?

In [49]:
a = "20190909Sunny"
date = a[:8]
weather = a[8:]

In [50]:
date

'20190909'

In [51]:
weather

'Sunny'

In [52]:
a = "20190917Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]

In [53]:
year,day,weather

('2019', '0917', 'Rainy')

# "Pithon"이라는 문자열을 "Python"으로 바꾸려면?

In [56]:
a = "Pithon"
a[1]

'i'

# Error (immutable한 자료형)

In [58]:
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

'Python'

# ch2_03_string_formating.py

## 문자열: 포매팅이란?

# 1. 숫자 바로 대입

In [60]:
"I eat %d apples." % 3

'I eat 3 apples.'

# 2. 문자열 바로 대입

In [61]:
"I eat %s apples." % "five"

'I eat five apples.'

# 3. 숫자 값을 나타내는 변수로 대입

In [62]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

# 4. 2개 이상의 값 넣기

In [65]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

# 소괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 준다.

## 문자열: 포맷 코드

# %d, %s, %c, %f, %o, %x, %%
# %s, 묵시적 형변환

In [67]:
"I have %s apples" % 3

'I have 3 apples'

In [68]:
"rate is %s" % 3.234

'rate is 3.234'

In [69]:
"Error is %d%%." % 98

'Error is 98%.'

## 문자열: 포맷 코드와 숫자 함께 사용하기

# 1. 정렬과 공백

In [72]:
"%10s" % "hi"
"%-10sjane." % "hi"

'hi        jane.'

# 2. 소수점 표현하기

In [74]:
"%0.4f" % 3.42134234

'3.4213'

In [75]:
"%10.4f" % 3.42134234

'    3.4213'

## 문자열: format 함수를 사용한 포매팅

# 1. 숫자 바로 대입하기

In [76]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [77]:
"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

# 2. 문자열 바로 대입하기

In [79]:
"I eat {0} apples".format("five")

'I eat five apples'

In [80]:
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

# 3. 숫자 값을 가진 변수로 대입하기

In [81]:
number = 3

In [82]:
"I eat {0} apples".format(number)

'I eat 3 apples'

In [83]:
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

# 2개 이상의 값 넣기

In [84]:
number = 10
day = "three"

In [85]:
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

# 이름으로 넣기

In [86]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

# 인덱스와 이름을 혼용해서 넣기

In [87]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

# 왼쪽 정렬/ 오른쪽 정렬

In [88]:
"{0:<10}".format("hi")

'hi        '

In [89]:
"{0:>10}".format("hi")

'        hi'

# 가운데 정렬

In [90]:
"{0:^10}".format("hi")

'    hi    '

# 공백 채우기

In [91]:
"{0:=^10}".format("hi")

'====hi===='

In [92]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

# 소수점 표현하기

In [93]:
y = 3.42134234

In [95]:
"{0:0.4f}".format(y)

'3.4213'

In [96]:
"{0:10.4f}".format(y)

'    3.4213'

# { 또는 } 문자 표현하기

In [97]:
"{{ and }}".format()

'{ and }'

# f 문자열 포매팅.format() 대체

## 문자열: f 문자열 포매팅

In [98]:
name = "홍길동"

In [99]:
age = 30

In [100]:
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [101]:
age = 30

In [102]:
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용

In [103]:
d = {"name": "홍길동", "age": 30}

In [104]:
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

# 정렬

# 왼쪽 정렬

In [105]:
f'{"hi":<10}'

'hi        '

# 오른쪽 정렬

In [106]:
f'{"hi":>10}'

'        hi'

# 가운데 정렬

In [107]:
f'{"hi":^10}'

'    hi    '

# 공백 채우기

In [108]:
y = 3.42134234

## 소수점 4자리까지만 표현

In [109]:
f"{y:0.4f}"

'3.4213'

## 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

In [110]:
f"{y:10.4f}"

'    3.4213'

## { } 문자를 표시

In [111]:
f"{{ and }}"

'{ and }'

## 문자열: 관련 내장 함수들

# 문자 개수 세기(count)

In [112]:
a = "hobby"

In [113]:
a.count("b")

2

# 위치 알려주기1(find)

In [114]:
a = "Python is the best choice"

In [115]:
a.find("b")

14

In [116]:
a.find("k")

-1

# 위치 알려주기2(index)

In [117]:
a = "Life is too short"

In [118]:
a.index("t")

8

# 문자열 삽입(join)

In [121]:
",".join("abcd")

'a,b,c,d'

In [122]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

# 소문자를 대문자로 바꾸기(upper)

In [125]:
a = "hi"
a.upper()

'HI'

# 대문자를 소문자로 바꾸기(lower)

In [126]:
a = "IoT"
a.lower()

'iot'

# 왼쪽 공백 지우기(lstrip)

In [127]:
a = " hi "
a.lstrip()

'hi '

# 오른쪽 공백 지우기(rstrip)

In [128]:
a.rstrip()

' hi'

# 양쪽 공백 지우기(strip)

In [129]:
a.strip()

'hi'

# 문자열 바꾸기(replace)

In [130]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

# 문자열 나누기(split) -> 리스트로 변환하여 반환

In [134]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [132]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

# format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.

In [135]:
"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'