# ch2_06_tuple.py by PA20

## 튜플: tuple 이란?

# 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
# 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.
# immutability of tuple(불가변성데이터구조)

In [1]:
even = (2, 4, 6, 8)

# 여러 가지 튜플

In [2]:
even

(2, 4, 6, 8)

In [3]:
t1 = ()  # 튜플 초기화

In [4]:
t1

()

In [6]:
t2 = (1,)

In [7]:
t2

(1,)

In [10]:
type(t2)

tuple

In [11]:
t3 = (1, 2, 3)

In [12]:
t3

(1, 2, 3)

In [13]:
t4 = 1, 2, 3

In [14]:
t4

(1, 2, 3)

In [15]:
t5 = ("a", "b", ("ab", "cd"))

In [16]:
t5

('a', 'b', ('ab', 'cd'))

# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
# 콤마(,)를 반드시 붙여야 한다는 것과
# t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.

# 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?

# 1. 튜플 요솟값을 삭제하려 할 때

In [17]:
t1 = (1, 2, "a", "b")

In [18]:
del t1[0]  # Error

TypeError: 'tuple' object doesn't support item deletion

# 2. 튜플 요솟값을 변경하려 할 때

In [19]:
t1[0] = "c"  # TypeError

TypeError: 'tuple' object does not support item assignment

## 튜플: 사용방법

# 인덱싱하기

In [20]:
t1 = (1, 2, "a", "b")

In [21]:
t1[0]

1

In [22]:
t1[3]

'b'

# 슬라이싱하기

In [23]:
t1 = (1, 2, "a", "b")

In [24]:
t1[1:]

(2, 'a', 'b')

In [25]:
t1[2:-1]  # ('a',)

('a',)

In [26]:
t1[2:]

('a', 'b')

# 튜플 더하기

In [27]:
t1 = (1, 2, "a", "b")

In [28]:
t2 = (3, 4)

In [29]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

# 튜플 곱하기

In [30]:
t2 = (3, 4)

In [31]:
id(t2)

1774414707392

In [32]:
t2 * 3

(3, 4, 3, 4, 3, 4)

In [33]:
id(t2)

1774414707392

In [34]:
t2 = t2 * 3

In [35]:
id(t2)

1774414902080

In [36]:
# 튜플 길이 구하기

In [37]:
t1 = (1, 2, "a", "b")

In [38]:
len(t1)

4